:root { 
    --color-text: #4d4c4c;
    --radius: 5px;
    --space-m:40px;
    --space-s:0,75rem;
} 

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text)
}

.site-header {
 text-align: center;
}

.site-header h1 {
    color: #002146;
   
}
.site-header h2 {
     color: #002146;
     font-size:var(--space-s)
}


.logo-header {

    width: 20%;
    height: 20%;
    display: block;
    margin: 0 auto;

}

.logo-img:hover {

    transform: translateY(-8px);
    box-shadow: 0 6px 12px rgb(0, 0, 0);

}

.main-nav {
    color: white;
    background: #0b5351;
    padding: 5px;
}

.main-nav ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav ul li {

    display: inline-block;
    margin-right: var(--space-m);
    text-align: center;

}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.caja-destacada {

    margin: 1px 32px 20px 32px;
    border-width: 2px;
    border: 4px solid #002146;
    padding: 16px;
    background: #f2f08e;
    position: relative;
}

.section {
    background: rgb(192, 225, 255);
}

.nombre-seccion{
    text-align:center;
    color:#002146;
    background-color: rgb(192, 225, 255);
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 0 5px 0;
}
.nombre-seccion-destacada{
    text-align: center;
    margin-block-start: 1px;
    margin-block-end: 1px;
    padding:4px;
}
#productos {
    background-color: rgb(192, 225, 255);
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px; 
    margin-top: 5px;
}
.tarjeta {
    background-color: white; 
    border-radius: var(--radius); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    text-align: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    flex: 1 1 calc(16.66% - 20px); 
    max-width: calc(16.66% - 20px); 
    min-width: 300px; 
}
.tarjeta:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.badge-caja {

    background-color: #f2f08e;
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
    margin-top: 0px;
}
#promocion{
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

.form-section{
    background-color:rgb(192, 225, 255);
}


.tarjeta-coleccion {
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    text-align: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px); 
    min-width: 200px; 
}
.tarjeta-coleccion:hover {
    transform: scale(1.07); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}
#sobrenosotros{
    margin:5px 2px 5px 2px;
    background-color:rgb(192, 225, 255);
    padding:30px;
}
#sobrenosotros img{
      display: block;
      margin-left: auto;
      margin-right: auto;
}
footer {
    text-align: center;
    font-style: italic;
}
footer button {
    position: fixed;
}

#figcaption{
    text-align: center;
    font-style:italic;
    font-size:70%;
}


@media (max-width: 1200px) {
    .logo {
        width: 250px; 
    }
    .tarjeta {
        flex: 1 1 calc(25% - 20px); 
        max-width: calc(25% - 20px); 
    }
}

@media (max-width: 900px) {
    .logo {
        width: 200px;
    }
    .tarjeta {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px); 
    }
}

@media (max-width: 600px) {
    .logo {
        width: 150px; 
    }
    .tarjeta {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px); 
    }
}

@media (max-width: 400px) {
    .tarjeta {
        flex: 1 1 100%; 
        max-width: 100%; 
    }
}

